.app--header {
  position: relative;

  .app--logo {
    display: block;
    height: 200px;
    margin: 0 auto;
    width: 200px;

    img {
      width: 100%;
    }
  }

  .app--navbar li {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
