$font_0: 'Roboto';

$url_0: url('../fonts/Roboto-Medium-webfont.eot');
$url_1: url('../fonts/Roboto-Medium-webfont.eot?#iefix');
$url_2: url('../fonts/Roboto-Medium-webfont.woff');
$url_3: url('../fonts/Roboto-Medium-webfont.ttf');
$url_4: url('../fonts/Roboto-Medium-webfont.svg#robotomedium');

@font-face {
	font-family: $font_0;
	src: $url_0;
	src: $url_1 format('embedded-opentype'), $url_2 format('woff'), $url_3 format('truetype'), $url_4 format('svg');
	font-weight: normal;
	font-style: normal;
}
