$font-0: 'Roboto';
$url-0: url('../fonts/Roboto-Medium-webfont.eot');
$url-1: url('../fonts/Roboto-Medium-webfont.eot?#iefix');
$url-2: url('../fonts/Roboto-Medium-webfont.woff');
$url-3: url('../fonts/Roboto-Medium-webfont.ttf');
$url-4: url('../fonts/Roboto-Medium-webfont.svg#robotomedium');

$black: #000000;
$white: #FFFFFF;
