@import 'normalize.css/normalize';
@import 'font-awesome/css/font-awesome.css';

@import './_variables';
@import './_fonts';

@import './footer';
@import './header';
@import './lang-picker';
@import './spinner';
@import './users';

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.text-center {
  text-align: center;
}

.un-select {
  user-select: none;
}
