@import 'mixins/hide-text';
@import 'mixins/reset-list';

.app--header {
  position: relative;

  .app--logo {
    display: block;
    height: 200px;
    margin: 0 auto;
    width: 200px;

    img {
      width: 100%;
    }
  }

  .app--navbar {
    @extend %reset-list;
    text-align: center;

    li {
      display: inline-block;
      margin-right: 10px;
    }

    li:last-child {
      margin-right: 0;
    }
  }
}
