// vendors
@import '../../node_modules/modularized-normalize-scss/_normalize.scss';

// mixins
@import 'mixins/_hide-text.scss';

// import fonts
@import '_fonts.scss';

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.logo {
  display: block;
  background-image: url('../images/react-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 200px;
  margin: 0 auto;

  @extend .hide-text;
}
