.app--spinner {
  background-image: url('../images/spinner.svg');
  background-repeat: no-repeat;
  display: none;
  height: 44px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 44px;

  &.active { display: block; }
}
