<!DOCTYPE html>
<html lang="{{locale}}">
  <head>
    <!--[if IE 8]>
    <script src='//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.1/es5-shim.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.1/es5-sham.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js'></script>
    <script src='//cdn.uriit.ru/console-polyfill/index.js'></script>
    <![endif]-->
    <meta charset="utf-8">
    <link rel="icon" type="image/ico" href="/favicon.ico">
    {{#each assets.style}}
      <link rel="stylesheet" href="{{this}}">
    {{/each}}
    <title>ISO-ReactJS</title>
  </head>
  <body>
    {{{body}}}
    {{#each assets.script}}
      <script src="{{this}}"></script>
    {{/each}}
  </body>
</html>
